body {
  margin: 0px;
  padding: 0px;
  background-color: darkgray;
  font-family: fantasy;
  
}

h1 {
  text-align: center;
  background-color: darkgray;
  margin: 0px;
  padding: 20px;
  color: rgb(70,70,70);
  font-size: 300% 
}


#board {
  background-color: white;
  padding: 40px 0px;
}

table {
  max-width: 350px;
  width: 50%;
  margin: 0px auto;
}

.square {
  padding: 0px;
  width: 32%;
  height: 100px;
  text-align: center;
  font-size: 300%;
  transition: all 0.2s;
}

.square:hover {
  background-color: rgba(209, 209, 209, 0.2);
}

.vert-mid{
  border-left : 3px solid rgb(70,70,70);;
  border-right : 3px solid rgb(70,70,70);;
}
.hor-mid{
  border-top: 3px solid rgb(70,70,70);;
  border-bottom: 3px solid rgb(70,70,70);;
}
